{#
/**
 * @file
 * Theme override for textarea elements.
 *
 * fd-textarea is a form-associated custom element. Pass Drupal textarea
 * attributes directly to the fd-textarea host. The initial value is set
 * as text content of the element and via the value attribute.
 *
 * A native fallback remains usable until the custom element is defined.
 */
#}
{% set control_id = fdic_textarea_id|default('') %}
<fd-textarea{{ attributes.addClass('fdic-form-control') }} value="{{ value }}">{{ value }}</fd-textarea>
<span class="fdic-control-fallback" data-fdic-control-fallback-for="{{ control_id }}">
  {% set fallback_attributes = attributes.removeClass('fdic-form-control') %}
  {% if control_id %}
    {% set fallback_attributes = fallback_attributes.setAttribute('id', control_id ~ '--native') %}
  {% endif %}
  <textarea{{ fallback_attributes }}>{{ value }}</textarea>
</span>
{{ children }}
