{#
/**
 * @file
 * Theme override for menus.
 */
#}
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <nav{{ attributes.addClass('fdic-menu').setAttribute('aria-label', 'Navigation'|t) }}>
        <ul class="fdic-menu__list">
    {% else %}
      <ul class="fdic-menu__list fdic-menu__list--sub">
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('fdic-menu__item') }}>
        <fd-link>
          {{ link(item.title, item.url, item.link_attributes.addClass('fdic-menu__link')) }}
        </fd-link>
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      </li>
    {% endfor %}
    {% if menu_level == 0 %}
        </ul>
      </nav>
    {% else %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
